// Place all the styles related to the xylotones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shown {
  fill: black;
}

.hidden {
  fill: white;
  stroke-width: 0.5;
  stroke: #aaaaaa;
}

.viewer {
  height: 100%;
  width: 100%;
}

.deleted {
  fill: white;
  stroke: none;
}