.left-just{
	margin-left: 20px;
}

#div_28 {
	height : 160px;
	left : 4px;
	overflow : hidden;
	position : absolute;
	top : 10px;
	width : 792px;
	background-color : none;
	border-color : #878787;
	border-style : solid;
	border-width : 0px;

}

#div_3 {
	height : 160px;
	left : 804px;
	overflow : hidden;
	position : absolute;
	top : 10px;
	width : 152px;
	background-color : none;
	border-color : #878787;
	border-style : solid;
	border-width : 0px;

}

#div_30 {
	height : 510px;
	left : 4px;
	overflow : hidden;
	position : absolute;
	top : 180px;
	width : 152px;
	background-color : none;
	border-color : #878787;
	border-style : solid;
	border-width : 0px;

}

#div_34 {
	height : 510px;
	left : 164px;
	overflow : hidden;
	position : absolute;
	top : 180px;
	width : 632px;
	background-color : none;
	border-color : #878787;
	border-style : solid;
	border-width : 0px;

}

#textEditbox_37 {
	height : 40px;
	left : 209px;
	overflow : hidden;
	position : absolute;
	top : 400px;
	width : 196px;
	color : #575756;
	font-family : Arial,sans-serif;
	font-size : 14px;
	padding : 0;

}

.upload-button
{
/*	height : 40px;*/
	left : 26px;
/*	overflow : hidden;*/
	position : relative;
/*	top : 10px;*/
/*	width : 140px;*/
/*	-khtml-border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	background-color : #575756;
	border-radius : 5px;
	color : #ffffff;
	font-family : Arial,sans-serif;
	font-size : 14px;
	padding : 0;
*/
}

.file-select
{
/*	height : 40px;*/
	left : 26px;
	position : relative;
/*	top : 70px;*/
/*	width : 120px;*/
/*	-khtml-border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	background-color : #575756;
	border-radius : 5px;
	color : #ffffff;
	font-family : Arial,sans-serif;
	font-size : 14px;
	padding : 0;*/

}

#div_35 {
	height : 130px;
	left : 4px;
	margin-bottom:30px;
	overflow : hidden;
	position : absolute;
	top : 700px;
	width : 952px;
	background-color : none;
	border-color : #878787;
	border-style : solid;
	border-width : 1px;
	border-radius: 5px;

}

#front-cover {
	max-height:500px%;
	max-width:100%;
	z-index:0;
}

#logo {
	max-height:130px;
	max-width:130px;
	margin-left:auto;
	margin-right:auto;}