// Place all the styles related to the xylotones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full {
  fill: black;
}

.empty {
  fill: white;
  stroke-width: 0.5;
  stroke: #aaaaaa;
}

.hidden {
  display:none;
}

.viewer {
  height: 100%;
  width: 100%;
}

.deleted {
  fill: white;
  stroke: none;
}

#selection-box {
  position: absolute;
  top: 30px;
  left: 200px;
  border: 2px solid red;
  background: transparent;
  width: 1px;
  height: 1px;
  stroke-width: 5px;
  stroke-color: none;
  z-index: 2;
}

#xylo-box {
  position:relative;
  cursor:default;
}

svg{
  z-index: 1;
  position: relative;
  top: 2px;
}

#buttons {
  position: relative;
  z-index: 1;
}