<% @xylotone.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
<% end %>

<%= form_for @xylotone do |f| %>

    <p>
      <%= f.file_field :original_image, :class => "file-select" %>

			<%= f.submit(:class => "upload-button") %>
		</p>
<% end %>