<% @xylotone.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
<% end %>

<%= form_for @xylotone do |f| %>

    <p>
      <%= f.file_field :original_image %>

			<%= f.submit %>
		</p>
		<p>
			Right now, portrait photos work best, as zoomed in as possible. They must be jpeg/jpg, png or gif format.
		</p>
<% end %>