<div class="row">
	<div class="span8 offset1">
		<h2>Xylotone maker - alpha</h2>
		<p>
			Thanks for checking this out. It is my side-project while learning at Dev Bootcamp.
			Things are pretty early, so please be patient after you submit your image. <br />
            You can learn more about me at: <br />
          <a href="http://github.com/1dlehands">github/1dlehands</a> or
          <a href="http://linkedin.com/in/jeffreymatthias">LinkedIn</a>
		</p>
	</div>
	<div class="span2 offset1">
		<%=image_tag 'logo.png', {:id => "logo"} %>
	</div>
</div>

<div class="row">
	<div class="span9 offset3">
		<%= image_tag 'frontCover.png', {:id => "front-cover"}%>
	</div>
</div>

<div class="row">
	<div class="span4 offset4">
		<%= render 'form'  %>
      Right now, portrait style photos work best, as zoomed in as possible.
	</div>
	<div class="span4">
	</div>
</div>

