<div class="row">
	<div class="span8 offset1">
		<h2>Xylotone maker - alpha</h2>
		<p>
			Thanks for checking this out.
			Things are pretty early, so please be patient after you submit your image.
		</p>
	</div>
	<div class="span2 offset1">
		<%=image_tag 'logo.png', {:id => "logo"} %>
	</div>
</div>

<div class="row">
	<div class="span9 offset3">
		<%= image_tag 'frontCover.png', {:id => "front-cover"}%>
	</div>
</div>

<div class="row">
	<div class="span4 offset4">
		<%= render 'form'  %>
	</div>
	<div class="span4">
	</div>
</div>

