<div class="row">
	<div class="span8 offset1">
		<h2>Xylotone maker - alpha</h2>
		<p>
			Thanks for checking this out. It is my side-project while learning at Dev Bootcamp.
			Things are pretty early, so please be patient as things evolve. <br />
			The code for this project is available at <a href="https://github.com/1dlehands/xylotones">this github repository</a>. <br />
      You can learn more about me and my work at: <br />
      <a href="http://github.com/1dlehands">github/1dlehands</a> or <br />
      <a href="http://linkedin.com/in/jeffreymatthias">LinkedIn</a> <br />
			or check out my side company: <br />
			<a href="http://furnlab.com">furnlab.com</a>
		</p>
	</div>
	<div class="span2 offset1">
		<%=link_to (image_tag 'logo.png'),"http://furnlab.com", {:id => "logo"} %>
	</div>
</div>

<div class="row">
	<div class="span9 offset3">
		<%= image_tag 'frontCover.png', {:id => "front-cover"}%>
	</div>
</div>

<div class="row">
	<div class="span4 offset3">
		<%= render 'form'  %>
      <!-- Right now, portrait photos work best, as zoomed in as possible. They must be jpeg/jpg, png or gif format. -->
	</div>
	<div class="span4">
	</div>
</div>

