
<div id="header">
	<h2 class="left-just">Xylotone maker - alpha</h2>
	<p class="left-just">
		Thanks for checking this out. </br>
		Things are pretty early, so please be patient after you submit your image.
	</p>
</div>
<div id="div_3">
	<%=image_tag 'logo.png', {:id => "logo"} %>
</div>
<div id="div_30">

</div>
<div id="div_34">
	<%= image_tag 'frontCover.png', {:id => "front-cover"}%>
</div>
<div id="div_35">
	<%= render 'form'  %>
</div>